{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "import"
  ]
}